<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a routerLink="/candidates" class="navbar-brand" appBestHighlight>Your own D&D Candidate</a>
        </div>

        <div class=" collapse navbar-collapse">
            <ul class="nav navbar-nav" style="cursor: pointer;">
                <li>
                    <a routerLink="/candidates" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="isAuth">Candidates</a>
                </li>
                <li>
                    <a routerLink="candidates/my-candidates" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="isAuth">Your candidates</a>
                </li>
                <li>
                    <a [routerLink]="['/shopping-list']" routerLinkActive="active">Shopping list</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <p class="navbar-text">Signed in as <a href="#" class="navbar-link">{{userName}}</a></p>
                </li>
                <li>
                    <a [routerLink]="['/auth']" routerLinkActive="active" *ngIf="!isAuth">Login</a>
                </li>
                <li> 
                    <a [routerLink]="['/auth']" routerLinkActive="active" style="cursor: pointer;" *ngIf="isAuth" (click)="logout()">Log Out</a> 
                </li>
            </ul>        
        </div>
    </div>
</nav>