<div class="row">
    <div class="col-md-4">
        <div class="row form-group">
            <img src="{{candidateToDisplay.imagePath}}" alt="{{candidateToDisplay.imageTags}}"
                title="{{candidateToDisplay.imageTags}}" class="img-responsive img-thumbnail center-block"
                style="max-height: 300px;">
        </div>
        <div class="row form-group">
            <div class="col-md-12 ">
                <!-- <div class="btn-group form-group">
                <button type="button" class="btn btn-primary" (click)="AddIngredients()">
                    Add attributes to list
                </button>
            </div>
            <hr> -->
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class=" well col-md-9 center-text">
                        <h4>Votes: {{votes}}</h4>
                    </div>
                </div>
                <div class="row form-group">
                    <div *ngIf="candidateToDisplay.ispublic" class="btn-group">
                            <button type="button" class="btn btn-default" (click)="onUpVote()" [disabled]="voteUp"
                                [ngClass]="voteUp? 'active': ' '">+</button>
                            <button type="button" class="btn btn-default" (click)="onDownVote()" [disabled]="voteDown"
                                [ngClass]="voteDown? 'active' :' '">-</button>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="btn-group">
                        <button *ngIf="isEditable" type="button" class="btn btn-info" [routerLink]="['../edit',id]">
                            Edit
                        </button>
                        <button *ngIf="isEditable" type="button" class="btn btn-danger" (click)="deleteCandidate()"
                            [routerLink]="['/candidates']">
                            Delete
                        </button>
                        <button *ngIf="isEditable && !candidateToDisplay.ispublic" type="button" class="btn btn-default"
                            (click)="publishCandidate()">
                            Publish
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 ">
        <div class="row">
            <h1>{{candidateToDisplay.name }}</h1>
        </div>
        <div class="row">
            <div class="row">
                <div class=" well col-md-12">
                    {{candidateToDisplay.description}}
                </div>
            </div>
            <div class="row">
                <h3>Ingredients</h3>
                <hr>
                <ul class="list-group">
                    <li class="list-group-item" *ngFor="let ingredient of candidateToDisplay.ingredients">
                        {{ingredient.name}} - ({{ingredient.amount}})
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-md-12">
        <ul class="pager">
            <li class="previous">
                <button type="button" class="btn btn-link" (click)="previousCandidate()"
                    [disabled]="!hasPrevious">Previous</button>
            </li>
            <li class="next">
                <button type="button" class="btn btn-link" (click)="nextCandidate()" [disabled]="!hasNext">Next</button>
            </li>
        </ul>
    </div>
</div> -->